# Wealth and Income

In [1]:
import pandas as pd
import ydata_profiling

In [2]:
df = pd.read_csv('wealth-income/wealth_income_dataset.csv')

In [3]:
df.head()

     Income     Wealth  Age     Education Employment_Status
0  69102.58  640831.61   47   High School          Employed
1  75282.09  300605.21   37      Master's        Unemployed
2  36924.99  281367.33   49  Some College          Employed
3  95439.82  845197.71   62    Bachelor's          Employed
4  47825.32  354803.81   36  Some College          Employed

In [7]:
df.set_index('Income')

             Wealth  Age       Education Employment_Status
Income
69102.58  640831.61   47     High School          Employed
75282.09  300605.21   37        Master's        Unemployed
36924.99  281367.33   49    Some College          Employed
95439.82  845197.71   62      Bachelor's          Employed
47825.32  354803.81   36    Some College          Employed
...             ...  ...             ...               ...
97550.19  835687.41   46      Bachelor's          Employed
49286.11  156200.51   41        Master's          Employed
18259.59   58160.50   38  No High School          Employed
73288.12  701720.34   62     High School          Employed
33711.67  169935.09   47  No High School          Employed

[1000000 rows x 4 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Income             1000000 non-null  float64
 1   Wealth             1000000 non-null  float64
 2   Age                1000000 non-null  int64
 3   Education          1000000 non-null  object
 4   Employment_Status  1000000 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.1+ MB

In [9]:
ydata_profiling.ProfileReport(df).to_file('wealth-income.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]