# Machine Learning Test

In [22]:
import pandas as pd

df = pd.read_csv("Datasets/minifigs.csv")
df.head()

,fig_num,name,num_parts,img_url
0,fig-000001,Toy Store Employee,4,https://cdn.rebrickable.com/media/sets/fig-000...
1,fig-000002,Customer Kid,4,https://cdn.rebrickable.com/media/sets/fig-000...
2,fig-000003,"Assassin Droid, White",8,https://cdn.rebrickable.com/media/sets/fig-000...
3,fig-000004,"Man, White Torso, Black Legs, Brown Hair",4,https://cdn.rebrickable.com/media/sets/fig-000...
4,fig-000005,Captain America with Short Legs,3,https://cdn.rebrickable.com/media/sets/fig-000...

In [23]:
df = df.drop(["img_url"], axis = 1)
df.head()

      fig_num                                      name  num_parts
0  fig-000001                        Toy Store Employee          4
1  fig-000002                              Customer Kid          4
2  fig-000003                     Assassin Droid, White          8
3  fig-000004  Man, White Torso, Black Legs, Brown Hair          4
4  fig-000005           Captain America with Short Legs          3

In [26]:

df.describe().loc[["count"]]

       num_parts
count    15300.0